body {
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
    background-color: #f0f0f0;
}

.product-list{
    width: 92%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}